## =========================================================
## [필수] Visual Studio 작업용 임시 및 개인 설정 파일 제외
## =========================================================
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb

## =========================================================
## [필수] 빌드 결과물 및 컴파일러 생성 파일 제외
## =========================================================
x64/
Debug/
Release/
Bin/
Obj/

## =========================================================
## [선택 사항] 프로젝트 관리 파일 충돌 방지
## =========================================================
# 팀원들이 .h나 .cpp 파일을 솔루션 탐색기에 새로 등록할 때 
# 깃 충돌이 너무 자주 발생한다면 아래 2줄의 주석(#)을 지워주세요.
*.vcxproj
*.vcxproj.filters